#about{
    margin-top: 10%;
    padding: 20px;
    color: var(--black-color) !important;
}
.aboutHeader > h1{
    padding: 10px;
}
.aboutBody{
    margin-top: 30px;
    padding: 10px;
}
.aboutBody > p{
    font-size: 20px;
}