/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 0.8rem;
}

.homeBody{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    color: var(--black-color) !important;
}
.homeBody_avatar{
    width: 15rem;
    height: auto;
    border-radius: 50%;
}
.homeBody > h1{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.homeBody > p{
    font-size: 1.5rem;
    font-weight: 400;
}
.homeBody_btns {
    margin-top: 1rem;
}
.homeBody_btns > button{
    border: 0.1rem solid var(--main-color) !important;
    color: var(--black-color) !important;
    font-weight: 500 !important;
    margin-right: 1rem;
    transition: 1s;
}
.homeBody_btns > button:hover{
    background-color: var(--main-color) !important;
    color: var(--black-color) !important;
}