/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 15px;
}

.homeBody{
    text-align: center;
    margin-top: 5%;
    padding: 20px;
    color: var(--black-color) !important;
}
.homeBody_avatar{
    width: 15rem;
    height: auto;
    border-radius: 50%;
}
.homeBody > h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.homeBody > p{
    font-size: 20px;
    font-weight: 400;
}
.homeBody_btns {
    margin-top: 10px;
}
.homeBody_btns > .btn1{
    background: var(--main-color) !important;
    color: var(--black-color) !important;
    font-weight: 500 !important;
    margin-right: 20px;
}
.homeBody_btns > .btn2{
    border: 2px solid var(--main-color) !important;
    color: var(--black-color) !important;
    font-weight: 500 !important;
}