#experiences{
    margin-top: 2rem;
    padding: 1rem;
    color: var(--black-color) !important;
}
.experiencesBody{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));;
    grid-gap: 30px;
}