@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
.navbar{
    display: flex;
    justify-content:space-around;
    min-height: 10vh;
    align-items: center;
    color: var(--black-color);
}
.navbarLogo{
    font-family: 'Yellowtail', cursive;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}
.navbarLinks{
    display: flex;
}
.navbarLinks > li{
    list-style: none;
    padding: 0 0.7rem 0 0.7rem;
}
.navbarLinks > li > a{
    font-weight: 400;
    font-size: larger;
    color: var(--black-color);
}
.navbarLinks > li > a:hover{
    transition: 0.2s step-end;
    border-bottom: 0.1rem solid var(--black-color);
}
.navbarIcon{
    font-size: 2rem !important;
    cursor: pointer;
    display: none !important;
}
@media all and (max-width: 900px){
    .navbarIcon{
        display: block !important;
        z-index: 2;
    }
    .navbarLinks{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--black-color);
        padding: 1rem 10rem;
        transform: translateX(-500px);
        z-index: 1;
        position: fixed;
    }
    .navbarLinks > li{
        line-height: 3;
    }
    .navbarLinks > li > a{
        color: var(--gray-color);
    }
    .navbarLinks > li > a:hover{
        border-bottom: 0.1rem solid var(--gray-color);
    }
}